/bootstrap/compiled.php
/vendor
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db
.sass-cache
builds/**/images/*
.env.*.php
.env.php
/packages
/node_modules
/resources/bower_components
/resources/fonts
/resources/images

/public/back
/public/development
/public/fonts
/public/images
/public/musicas
/public/image
/public/production
/backup-server
